.signupScreen {
    max-width: 300px;
    background-color: rgba(0, 0, 0, 0.545);
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #5b5555;
    border-radius: 8px;
   
}

.signupScreen>form {
    display: grid;
    flex-direction: column;
    column-gap: 10px;
}

.signupScreen>form>h1 {
    text-align: start;
    margin-bottom: 12px;
}

.signupScreen>form>input {
    height: 40px;
    outline-width: 0;
    margin-bottom: 14px;
    border-radius: 5px;
    border: 1px solid rgba(99, 97, 97, 0.777);
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.459);
    color: #fff;
    outline: white;
}

.signupScreen>form>input:focus {
    border: 2px solid #fff;
    outline: none;
}
.signupScreen>form>button{
    background-color:  #e50914;
    outline: none;
    border: none;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    font-size: 1.05rem;
    font-weight: 600;
    cursor: pointer;
}
.signupScreen>form>h4{
    margin-top: 20px;
    font-size: 1.05rem;
    color: gray;
    font-weight: 500;
    text-align: start;
}
.signupScreen>form>h4>span{
color: #fff;
cursor: pointer;

}
.signupScreen>form>h4>span:hover{
    text-decoration: underline;
}